<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Victor Oliveira - Representante Externo</title>
</head>
<body>
    <header>
        <h3>Seja Bem vindo!</h3>
        <p>Realize seu sonho comigo e saia de moto 0KM</p>
    </header>
<main>
    <section id="about">
        <h2>Sobre Mim</h2>
        <p>Desde muito antes de conhecer as vendas gosto de ajudar as pessoas e agora com a motolider, não somente ajudo como realizo sonhos!!</p>
    </section>
</main>
<footer>
    <p>&copy; 2025 Victor Oliveira. Todos os direitos reservados.</p>
</footer>
</body>
</html>